/// Added styling for details and summary to beautify dropdown menus
details {
  background: #eee;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}
summary {
  cursor: pointer;
}

/// Added styling for image captions
.image-wrapper {
    text-align: center;

    .image-number {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
        font-weight: bold;
        display:inline;
    }

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
        display:inline;
    }

}
