---
layout: default
---

<html>
  <head>
    <meta charset="utf-8">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  <body>
    {% include back-to-index.html %}
    <br>
    {{ content }}
  </body>
</html>

<!--
Each chapter is organized into sections.
Below code is to create an index of the sections at the chapter page.
-->
<br>
<h3><em>Sections in this chapter:</em></h3>
<div>
{% if site.data.toc.toc[0] %}
  {% for item in site.data.toc.toc %}
    {% if item.subfolderitems[0] %}
      <ul>
        {% for entry in item.subfolderitems %}
            {% if entry.page == page.title and entry.subsubfolderitems[0] %}
              <ul>
              {% for subentry in entry.subsubfolderitems %}
                  <li><a href="{{ subentry.url | prepend: site.baseurl }}">{{ subentry.page }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}
{% endif %}
</div>
