---
layout: default
---

{{ content }}

<!--
Create a table of contents.
-->
<a id="table-of-contents"></a><h2>{{ site.data.toc.docs_list_title }}</h2>
<div>
{% if site.data.toc.toc[0] %}
  {% for item in site.data.toc.toc %}
    {% if item.url %}
      <h3><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></h3>
    {% else %}
      <h3>{{ item.title }}</h3>
    {% endif %}
    {% if item.subfolderitems[0] %}
      <ul>
        {% for entry in item.subfolderitems %}
            <li><a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.page }}</a>
              {% if entry.subsubfolderitems[0] %}
                <ul>
                {% for subentry in entry.subsubfolderitems %}
                    <li><a href="{{ subentry.url | prepend: site.baseurl }}">{{ subentry.page }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}
{% endif %}
</div>

<figure>
  <img src="/assets/images/euk.tre.png" alt="Eukaryotic tree of life" style="width:100%">
  <figcaption>The eukaryotic Tree of Life. This consensus tree is based on several recent phylogenomic studies. Coloured groups represent 'supergroups', which are broad, monophyletic groupings of eukaryotes. Unresolved relationships are depicted as multifurcations, while dashed lines represent uncertainties in the monophyly of groups. Figure adapted from Burki et al. (2019). <i>Trends in Ecology and Evolution</i>.</figcaption>
</figure>

<!--
Let's see if I can access all png's.

{% for file in site.static_files %}
  <ul>

    {% if file.extname == ".png" -%}
      <li><a href="{{ file.path | prepend: site.baseurl }}">{{ file.name }}</a></li>

    {%- endif %}
  </ul>

{% endfor %}
-->

